<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='basic.css') }}">
</head>
<body>
    <h1>Welcome, {{ current_user.username }}</h1>
    
    <div style="display: flex; justify-content: space-around;">
        <div>
            <h2>Total Influencers</h2>
            <p>{{ total_influencers }}</p>
            <a href="#">View All</a>
        </div>
        
        <div>
            <h2>Total Sponsors</h2>
            <p>{{ total_sponsors }}</p>
            <a href="#">View All</a>
        </div>
    </div>
    
    <div style="text-align: center;">
        <h2>Total Campaigns</h2>
        <p>{{ total_campaigns }}</p>
        <canvas id="campaignsChart" width="400" height="400"></canvas>
    </div>
    
    
</body>
</html>
