<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='light_basic.css') }}">
</head>
<body>
    <div class="container">
        <div class="jumbotron-fluid">
            <h1 class="display-4">Campaigns</h1>
            <hr>
        </div>
        <div class="row">
            <div class="col-md-1">
                <a href="/influencer/{{username}}" class="btn btn-primary">Home</a>
            </div>
        </div>  
        <br>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Campaign ID</th>
                            <th scope="col">Campaign Name</th>
                            <th scope="col">Company Name</th>
                            <th scope="col">Start Date</th>
                            <th scope="col">End Date</th>
                            <th scope="col">Salary</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for campaign in campaigns %}
                            <tr>
                                <td>{{ campaign.id }}</td>
                                <td>{{ campaign.Title }}</td>
                                <td>
                                    <img src="{{ url_for('static', filename='uploads/sponsors/' + campaign.companyLogo) }}"
                                    alt="{{ campaign.companyLogo }}"
                                    style="width: 50px; height: 50px;"> 
                                    {{ campaign.companyName }}
                                </td>
                                <td>{{ campaign.StartDate }}</td>
                                <td>{{ campaign.EndDate }}</td>
                                <td>₹{{ campaign.Salary }}</td>
                                <td>
                                    <a href="/influencer/{{username}}/campaigns/{{campaign.id}}" class="btn btn-primary">View</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    </div>
</body>
</html>