<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <span>welcome <b style="font-size: 30px;">{{ influencer.Fname }}</b></span>
            <nav>
                <a class="nav-link" href="{{ url_for('main.influencer_profile', username=influencer.username) }}">Profile</a>
                <a class="nav-link" href="{{ url_for('main.influencer_campaigns', username=influencer.username) }}">Search</a>
                <a href="#">Applications</a>
                <a class="nav-link" href="/logout">Logout</a>
            </nav>
        </header>
        <div class="content">
            <aside class="profile">
                <div class="profile-image">
                    <img src="{{ url_for('static', filename='uploads/influencers/' + influencer.profilePic) }}" alt="{{ influencer.username }}'s Profile Picture">
                </div>
                <div class="profile-details">
                    <hr>
                    <p style="color:#333;">@{{ influencer.username }}</p>
                    <p style="font-size: 16px;">{{ influencer.Fname }} {{ influencer.Lname }}</p>
                    <p>earnings</p>
                    <p>ratings</p>
                </div>
            </aside>
            <main>
                <section class="panel section">
                    <h2>Applications</h2>
                    {% if campaigns %}
                        <table>
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Brand</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Salary</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for campaign in campaigns %}
                                <tr>
                                    <td><a href="/influencer/{{ username }}/campaigns/{{ campaign.id }}">{{ campaign.Title }}</a></td>
                                    <td>{{ campaign.companyName }}</td>
                                    <td>{{ campaign.StartDate }}</td>
                                    <td>{{ campaign.EndDate }}</td>
                                    <td>{{ campaign.Salary }}</td>
                                    {% if status[loop.index0] == 'PENDING' %}
                                    <td><span style="background-color: hsla(60, 100%, 50%, 0.5); color: rgb(0, 0, 0);"><b>{{ status[loop.index0] }}</b></span></td>
                                    {% elif status[loop.index0] == 'ACCEPTED' %}
                                    <td><span style="background-color: hsla(120, 100%, 50%, 0.5); color: rgb(0, 0, 0);"><b>{{ status[loop.index0] }}</b></span></td>
                                    {% else %}
                                    <td><span style="background-color: hsla(0, 100%, 50%, 0.5); color: rgb(0, 0, 0);"><b>{{ status[loop.index0] }}</b></span></td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>There are no applications to show</p>
                    {% endif %}
                </section>
                <section class="panel section">
                    <h2>Mail</h2>
                    <p>There are no invitations to show</p>
                </section>
            </main>
        </div>
    </div>
</body>
</html>
