<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container text-center mt-5">
        <h1>Sign Up</h1>
        <div class="mt-4">
            <a href="/signup/influencer" class="btn btn-primary btn-lg mr-3">Sign Up as Influencer</a>
            <a href="/signup/sponsor" class="btn btn-secondary btn-lg">Sign Up as Sponsor</a>
        </div>
    </div>
</body>
</html>
