<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript">
        window.onload = function() {
            // Get the error message passed from the backend
            var error = "{{ error|safe }}";
            if (error) {
                alert(error);
            }
        }
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="application/static/basic.css">
    
    <title>Confluence | Sign in </title>

</head>
<body>

    <div class="container">

        <div class="row">

            <div class="col-md-4 offset-md-4">

                <div>
                    <h1><b>Sign in Confluence</b></h1>
                </div>
                
                
                <div class="card">
                    <div class="card-body">
                        <form action="{{url_for('main.login')}}" method="GET">

                            <div class="mb-3">
                                <label for="type" class="form-label">Username or email</label>
                                <select class="form-select" id="type" name="type">
                                    <option value="influencer">Influencer</option>
                                    <option value="sponsor">Sponsor</option>
                                    <option value="admin">Admin</option>
                                </select>
                            </div>

                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="text" class="form-control" id="email" name="email">
                            </div>

                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password" name="password">
                            </div>

                            <button type="submit" class="btn btn-primary w-100">Sign in</button>
                            <div class="mt-3" style="text-align: center;">
                                <a href="/signup">Don't have an account? Sign up</a>
                            </div>

                        </form>

                    </div>
                </div>

            </div>
        
        </div>

    </div>

</body>
</html>
