<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>
<body>
    <h1 style="align-content: center;">Student Details</h1>
    <div>
        <label>Roll Number:</label>
        <span>{{ student.roll_number }}</span>
    </div>
    <div>
        <label>First Name:</label>
        <span>{{ student.first_name }}</span>
    </div>
    <div>
        <label>Last Name:</label>
        <span>{{ student.last_name }}</span>
    </div>
    <h1 style="align-content: center;">Enrollment list</h1>
    <table>
        <tr>
            <th>Sl. No.</th>
            <th>Course Code</th>
            <th>Course Name</th>
            <th>Course Description</th>
        </tr>
        {% for course in courses %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ course.course_code }}</td>
            <td>{{ course.course_name }}</td>
            <td>{{ course.course_description }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('main.home') }}">Go back</a>
</body>
</html>