html, body {
    height: 100%;
    margin: 0;
    background-image: linear-gradient(rgba(144, 59, 224, 0.4), rgb(163, 140, 185,0.4));
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
}

.card {
    background-color: hsla(0, 0%, 100%, 0.5);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.form-label {
    text-align: left;
    display: block;
}

.form-control {
    text-align: left;
}
